.poscontainer {
  height: calc(100% - 60px);
  background-color: coral
}

.sidenav-container {
  position: absolute;
  top: 40px;
  bottom: 20px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.sidenav-left {
  display: flex;
  width: 250px;
  background: rgb(255, 255, 255);
}

.navlink {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: rgb(227, 234, 240);
  
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.navlink:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgb(158, 166, 173);
  cursor: pointer;
}

.metadata-content {
  background-color: rgb(177, 201, 221)
}

.sidenav-metadata {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;

}

.scrollbar {
  background-color: #F5F5F5;
  float: left;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #111111;
}